extends ../../layout/main.pug
block content   
    #root
        p.title 这是活动标题
        img(src="https://iknow-pic.cdn.bcebos.com/0d338744ebf81a4c77b9cebbd82a6059252da63c?x-bce-process=image/resize,m_lfit,w_600,h_800,limit_1" alt="活动图" width="200px" height="100px")