doctype html
html(lang="zh-cmn-Hans")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="screen-orientation", content="portrait")
    meta(name="format-detection", content="telephone=no")
    meta(name="x5-orientation", content="portrait")
    meta(http-equiv="Expires", content="0")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(content="yes", name="apple-touch-fullscreen")
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=0")
    title= "webpack"
  body
    block content